---
 //Projects.astro
import { imageConfig } from "astro:assets";
import { svgANDROID, svgASTRO, svgCSS, svgHTML, svgJS, svgJetpackC, svgTailwind } from "../Icons/icons.astro";
import Github from "./Buttons/Github.astro";
import TechComponent from "./Techs/TechComponent.astro";


const CARDS = [
    {
        project_name:"Portfolio",
        project_description:`Portfolio creado en <span class="font-bold" style="color:#FF4500">Astro</span>`,
        link:"https://github.com/alvarocastillx/Astro_Portfolio",
        image:"url(.//public/Portfolio.jpg);",
        techs: ["Astro","JS","HTML","CSS","Tailwind"]
    },
    {
        project_name:"CarAction",
        project_description:`CarAction es una aplicación de compraventa de coches creada en el framework <span class="font-bold" style="color:#3DDD85">Jetpack Compose</span>.`,
        link:"https://github.com/alvarocastillx/PFG-CarAction",
        image:"url(.//public/proyectoMockup.png);",
        techs: ["Android","JetpackC"]
    },
    {
        project_name:"GameZoneApp",
        project_description:"Tienda de videojuegos para Android creada con Jetpack Compose",
        link:"https://github.com/alvarocastillx/GameZoneApp",
        image:"url(.//public/GameZone.png);",
        techs: ["Android","JetpackC"]
    }

]






---

<div class="flex flex-col justify-center items-start mx-auto w-[1250px]" id="projects">
    <section class="pb-6 flex flex-row items-center">
        <h2 class="font-bold text-5xl text-pretty mr-5">
            Proyectos
        </h2>
        <Github/>
    </section>

    <section class="grid grid-cols-1 md:grid-cols-3 gap-4 ">
        {
            CARDS.map((card) => {
                return (
                    <a href={card.link}>
                            <div class="card" style={{backgroundImage : card.image}} >
                                <div id="card_content" >
                                    <div class="flex flex-col mx-auto">
                                        <h2 class="text-3xl">{card.project_name}</h2>
                                        <p class="text-pretty" set:html={card.project_description}>
                                        </p>
                                        <section class="flex flex-row pt-2">
                                            {
                                                card.techs?.map(tech => {
                                                    if (tech === "JS") {
                                                        return (<TechComponent svg={svgJS}>
                                                            </TechComponent>
                                                            )
                                                    }
                                                    if (tech === "Astro") {
                                                        return (<TechComponent svg={svgASTRO}>
                                                            </TechComponent>
                                                            )
                                                    }
                                                    if (tech === "HTML") {
                                                        return (<TechComponent svg={svgHTML}>
                                                            </TechComponent>
                                                            )
                                                    }
                                                    if (tech === "CSS") {
                                                        return (<TechComponent svg={svgCSS}>
                                                            </TechComponent>
                                                            )
                                                    }
                                                    if (tech === "Tailwind") {
                                                        return (<TechComponent svg={svgTailwind}>
                                                            </TechComponent>
                                                            )
                                                    }
                                                    if (tech === "JetpackC") {
                                                        return (<TechComponent svg={svgJetpackC}>
                                                            </TechComponent>
                                                            )
                                                    }
                                                    if (tech === "Android") {
                                                        return (<TechComponent svg={svgANDROID}>
                                                            </TechComponent>
                                                            )
                                                    }
                                                
                                                })
                                            }
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </a>)
                
            })
        }
    </section>
</div>
<hr id="line">


<style>
    #projects {
        padding-bottom: 4rem;
    }
</style>



<style>
    .card {
    margin-right: 1em;
    width: 25em;
    height: 13em;
    border-radius: 20px;
    padding: 5px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    overflow: hidden;
    background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
}

    #card_content {
    background: rgb(5, 6, 45);
    border-radius: 17px;
    width: 100%;
    height: 100%;
    padding: 10%;
    }

    @keyframes anim_card {
        from {
            transform: translateX(-20%);
            opacity:0;
        }
        to {
            transform: translateX(0%);
            opacity: 1;
        }
    }

    .card_animation {
        animation-name: anim_card;
        animation-duration: 1s;
        animation-timing-function: linear;
    }

    #card_content:hover {
        opacity: 0.15;
        
    }
    
    
    
</style>

<script>
    const cards = document.querySelectorAll('.card');
    const observer = new IntersectionObserver(entries => {
    entries.forEach(entry => {
        if (entry.isIntersecting) {
            cards.forEach(card => {
                card.classList.add('card_animation')
            })
        
           
        }
    })
});
cards.forEach(card => {
    observer.observe(card);
            })

</script>